<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813416292915-9agggub38hab86rc7jig4ll7l0pq1u4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813416292915-9agggub38hab86rc7jig4ll7l0pq1u4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAksMinISmmGc4WMXUPYN49E9HLSS0ZnDw</string>
	<key>GCM_SENDER_ID</key>
	<string>813416292915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-4f46d</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-4f46d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813416292915:ios:cb003ac71dff37e748b946</string>
</dict>
</plist>